Book management system:
Java Desktop Application used for managing a library
One window for CRUD operations on Author (firstname, lastname): allows the viewing of all the authors; adding a new author; deleting an existing author and updating an existing author
One window for CRUD operations on Book (title, description, author): allows the viewing of all the books; adding a new book - and assigning one of the existing authors; deleting an existing book and updating an existing book
One window for Reviews (book, score, comment): allows the viewing of all the reviews; adding a new review for one of the existing books

	Analiza cerintelor: 

Author:
- Create Author
- View all the Authors
- Update Author
- Delete Author

Book:

-Create Book (adding a new book & asign an existing author)
-View all the Books
-Update Book
-Delete Book

Reviews:
-View reviews
-Adding new review (for one of the existing book)

	Tasks:
BMS (Booking Management System)
Author:
- BMS-1 Create Author = Done
- BMS-2 View all the Authors = Done
- BMS-3 Update Author
- BMS-4 Delete Author

Book:

- BMS-5 Create Book (adding a new book & assign an existing author) = Done
- BMS-6 View all the Books // homework
- BMS-7 Update Book // homework
- BMS-8 Delete Book // homework

Reviews:
- BMS-9 View reviews for Book
- BMS-10 Adding new review (for one of the existing book)

- BMS-11 Create Book with Author (adding a new book & assign an existing author) = Done

- BMS-12 Import Books with Authors from text file.
