Book management system:
Java Desktop Application used for managing a library
One window for CRUD operations on Author (firstname, lastname): allows the viewing of all the authors; adding a new author; deleting an existing author and updating an existing author
One window for CRUD operations on Book (title, description, author): allows the viewing of all the books; adding a new book - and assigning one of the existing authors; deleting an existing book and updating an existing book
One window for Reviews (book, score, comment): allows the viewing of all the reviews; adding a new review for one of the existing books

	Analiza cerintelor: 

    Author:
- Create Author
- View all the Authors
- Update Author
- Delete Author

    Book:

-Create Book (adding a new book & asign an existing author)
-View all the Books
-Update Book
-Delete Book

    Reviews:
-View reviews
-Adding new review (for one of the existing book)

    User:
-Create user
-Create user with department(s) // one or many
-View user with departments
-Update user
-Delete user
-List all users

    Department:
-Create department
-View list of departments
-Update department
-Delete department
-View all users from a department


	Tasks:
BMS (Booking Management System)
Author:
- BMS-1 Create Author = Done
- BMS-2 View all the Authors = Done
- BMS-3 Update Author = Done
- BMS-4 Delete Author = Done

    Book:

- BMS-5 Create Book (adding a new book & assign an existing author) = Done
- BMS-6 View all the Books // homework
- BMS-7 Update Book // homework
- BMS-8 Delete Book // homework

    Reviews:
- BMS-9 View reviews for Book = Done
- BMS-10 Adding new review (for one of the existing book) = Done

- BMS-11 Create Book with Author (adding a new book & assign an existing author) = Done

- BMS-12 Import Books with Authors from text file. = Done

- BMS-13 Validate review score ( Between 1 and 10) // homework

    HOMEWORK

    User:
- BMS 14 Create user = Done
- BMS 15 Create user with department(s) // one or many
- BMS 16 View user with departments
- BMS 17 Update user = Done
- BMS 18 Delete user = Done
- BMS 19 List all users = Done

    Department:
- BMS 20 Create department
- BMS 21 View list of departments
- BMS 22 Update department
- BMS 23 Delete department
- BMS 24 View all users from a department

    User :
String userName
Integer id
String phoneNumber
List<Department> departments .

    Department:
Integer id
String name
List<User> users.

ManyToMany.

